
	<% @restaurants.each do |restaurant| %>
		<div class="col-md-3 card_block">
			<span class="lvl1"></span>
			<span class="delivery">Доставка:&nbsp;160&nbsp;с</span>
			<div class="img_wrap">
				<%= image_tag restaurant.image.url(:thumb) %>
			</div>
			<div class="cafe-item-info">
				<h6 class="rest_name">
					<%= restaurant.name %>				
				</h6>
				<p class="descrip_rest">
					<pre><%= restaurant.description %></pre>
				</p>				
			</div>
			<div class="link_box">
				<%= link_to rest_show_path(restaurant) do  %>
					Перейти в меню <span class="glyphicon glyphicon-chevron-right"></span>
				<% end %>
			</div>
		</div>
	<% end %>
