<p id="notice"><%= notice %></p>

<p>
  <strong>Counter:</strong>
  <%= @shopingcart.counter %>
</p>

<%= link_to 'Edit', edit_shopingcart_path(@shopingcart) %> |
<%= link_to 'Back', shopingcarts_path %>
